#myForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 100px;
}

#btnsContainer {
  display: flex;
  gap: 10px;
}

.allInputs {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px;
  border: 2px solid black;
  border-radius: 15%;
  background-color: aquamarine;
}

img {
  width: 200px;
  border-radius: 15%;
}

#cardsContainer {
  display: flex;
  flex-wrap: wrap;
}
